*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #000;
}
.header{
    background-image: url();
    padding-top: 211px;
    padding-bottom: 211px;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.header .head{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: auto;
}
.header .head:hover{
    border-bottom: 3px solid #000000;
}
.header h1{
    color: #ff9100;
    padding-top: 20px;
    position: relative;

}
.container{
    width: 100%;
    height: 100%;
}
.container h1{
    color: #ff9204;
    
    margin: auto;
}
.container .certificate1 h4{
    color: #f4b25a;  
    justify-content: center;
    align-items: center;
}

.certificate1 img{
    width: 70%;
    height: 70vh;
    justify-content: center;
    align-items: center;
    padding:10px 50px;
}